<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headFragment">
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
<div class="container">

    <div>
        <h1>HOME</h1>
        <p>기능 구현중</p>
        <p>
            <a href="/add">회원 가입</a>
            <a href="/member/list">회원 목록</a>
            <a href="/loginForm">로그인</a>
            <a href="/admin/list">관리자</a>
        </p>
        <th:p sec:id="id" th:text="${id}"></th:p>
        <form id="logout" th:action="@{logout}" method="GET">
        <input type="submit" value="로그아웃">
        </form>
    </div>
</div>
</body>
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<script  th:inline="javascript">
         var request = new XMLHttpRequest();
         request.
        var cookie = document.cookie
        $.ajax({
            type : 'post',
            url : "/tokenCheck.do",
            contentType : "application.json",
            data : JSON.stringify(cookie),
            dataType : 'json',
            error: function(xhr, status, error){
               alert(error);
            },
            success : function(result) {
                console.log(result)
            }
        });
</script>
</html>